*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 24px;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8; 
  font-weight: bold; 
}

.header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
}

.introbox {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px;
    gap: 50px;
    flex: 1;
}

.signup h1 {
    font-size: 48px;
    color: #E5E7EB;
    font-weight: 900;
    padding-bottom: 16px;
}

.signup p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

.signup button {
   background-color: #3882F6; 
   color: #E5E7EB;
   border-radius: 10px; 
   width: 100px;
   height: 30px;
}

.image {
    display: flex;
    height: 400px;
    width: 400px;
}

.infobox {
    padding-top: 24px;
    padding-bottom: 100px;
}

.infobox h1 {
    text-align: center;
    padding-bottom: 24px;
}
.infobox ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.menu .menutext {
    text-align: center;
    width: 150px;
}

.imagebox {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid blue;
}

.quotebox {
    background-color: #E5E7EB;
    padding: 100px;
}

.quotebox p {
   font-size: 36px;
   color: #1F2937; 
}

.quotebox2 div {
    text-align: right;
    font-weight: bold;
}

.actionbox {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.buttonbox {
    display: flex;
    padding: 16px;
    border-radius: 10px;
    justify-content: space-around;
    background-color: #3882F6;
    align-items: center;
    color: #F9FAF8;
    width: 75%;
}

.buttonbox button {
    background-color: #3882F6; 
   color: #E5E7EB;
   border-radius: 10px;
   width: 100px;
   height: 30px;
   border: 2px solid #F9FAF8;
}

footer {
   background-color: #1F2937; 
   color: #F9FAF8;
   display: flex;
   justify-content: center;
   padding: 24px;
}

